menuconfig ARCH_HEXAGON
        bool "Hexagon Architecture"
	help
          Say yes if you need Hexagon Architecture support

if ARCH_HEXAGON

config HEXAGON_TOOLS_ROOT
	string "Path to Hexagon llvm tools"
	help
	 Absolute Path to Hexagon tools

config HEXAGON_SDK_ROOT
	string "Path to Hexagon SDK root"
	help
	 Absolute Path to Hexagon SDK root

endif
