menu "Containers"

config WR_SH_MEM_EP
        bool "Enable Write Share Memory Endpoint"
        default y

config RD_SH_MEM_EP
        bool "Enable Read Share Memory Endpoint"
        default y

config PLACEHOLDER_ENC_DEC
        tristate "Enable PLACEHOLDER Library"
        default n

config SPECIAL_TOPOLOGY
        bool "Enable Special Topology"
        default n
        help
            Enable compilation of special topology components (spl_topo).

endmenu
